.half_field {
    width: 100%;
    aspect-ratio: 1.4;
    background-color: #6cbb3c;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.half_field__formation {
    color: white;
    width: 100%;
    position: absolute;
    font-size: 1.2vw;
    text-align: left;
    padding-top: 0.5vw;
    padding-left: 1vw;
}

.half_field__half_center_circle,
.half_field__goal_box,
.half_field__penalty_box {
    grid-row: 1;
    grid-column: 1 / span 2;
    justify-self: center;
}

.half_field__half_center_circle {
    align-self: end;
    width: 26.88%;
    aspect-ratio: 2;
    border: calc(100vh / 333.333) solid white;
    border-bottom: 0;
    border-radius: calc(100vh * 0.9) calc(100vh * 0.9) 0 0;
}

.half_field__goal_box {
    width: 28.38%;
    aspect-ratio: 3.53;
    border-bottom: calc(100vh / 333.333) solid white;
    border-left: calc(100vh / 333.333) solid white;
    border-right: calc(100vh / 333.333) solid white;
    background-color: transparent;
}

.half_field__penalty_box {
    width: 62.53%;
    aspect-ratio: 3.53;
    border-bottom: calc(100vh / 333.333) solid white;
    border-left: calc(100vh / 333.333) solid white;
    border-right: calc(100vh / 333.333) solid white;
    background-color: transparent;
}