.match_club {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}

.match_club__fieldplayer, 
.match_club__properties {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.45vw;
    padding-top: 1.45vw;
    border-bottom: 0.5px solid rgb(179, 179, 179);
}

.match_club__properties__icon {
    width: 10vw;
}

.match_club__properties__name {
    font-size: 3.5vw;
    font-weight: bold;
}

.match_club__properties__coach {
    font-size: 1.4vw
}

.match_club__properties__score {
    margin-top: 3vw;
    aspect-ratio: 1;
    background-color: rgb(216, 216, 216);
    border-radius: 1.5vw;
    display: grid;
    align-items: center;
    justify-items: center;
    width: 2ch;

    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 6.5vw;
}

.match_club__fieldplayer {
    width: 100%;
    position: relative;
}

.match_club__fieldplayer__field, 
.match_club__fieldplayer__starting, 
.match_club__fieldplayer__sub {
    width: 100%;
    padding-left: 2vw;
    padding-right: 2vw;
}

.match_club__fieldplayer__field {
    position: relative;
    height: auto;
}

.match_club__fieldplayer__starting {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.match_club__fieldplayer__sub {
    position: relative;
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: auto;
    row-gap: 1vh;
    column-gap: 2vw;
    height: 15vh;
}

.arrow__tail {
    fill: green;
}
  